# This config file is to be used with /data/Udpwork/usr/Common/Git/VCF_scripts/Annotation/Annotation_Manager.sh
# This file specifies the paths of the databases used during the annotation process
# This is the default version used by the script, but the script can be told to use another
# If you need to use different paths than the ones here, make a copy of this file in your user directory and edit that one
# If the databases have been permanently updated/changed, change this file
# The names in the first column are the search terms used to find the correct database paths, so do not change those

#Search Term	Database Path
CADD InDels	/data/Udpdata/Reference/CADD/MostRecent/hg19/InDels.tsv.gz
CADD SNVs	/data/Udpdata/Reference/CADD/MostRecent/hg19/whole_genome_SNVs.tsv.gz
CADD Extras	/data/Udpdata/Reference/CADD/MostRecent/hg19/non-standard_Variants.tsv.gz
RVIS Database	/data/Udpdata/Reference/RVIS/release9/SCORES_n12_4NR_v16May15.txt
UCSC Gene Table	/data/Udpdata/Reference/UCSCTables/hg19/RefSeqGenes_sorted.gz
ExAC Database	/data/Udpdata/Reference/ExAc/MostRecent/ExAC.r0.3.sites.vep.vcf.gz
bcftools Reference Fasta	/data/Udpwork/WTS/Resources/hs37d5.fa
Eigen Coding Phred	/data/Udpdata/Uploads/Reference/Eigen/v1.0/EIGEN_coding_phred
Eigen Noncoding Phred	/data/Udpdata/Uploads/Reference/Eigen/v1.0/EIGEN_noncoding_phred
EigenPC	/data/Udpdata/Uploads/Reference/Eigen/v1.0/EigenPC
